[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	precomposeunicode = true
[color]
	ui = true
[merge]
	tool = opendiff
[push]
	default = simple
[commit]
	cleanup = whitespace
[include]
	path = ~/.gitconfig.user
[help]
	autocorrect = 1
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[rebase]
	autosquash = true
