[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	ui = true
[merge]
	tool = opendiff
[push]
	default = simple
[commit]
	cleanup = whitespace
[include]
	path = ~/.gitconfig.user
[help]
	autocorrect = true
